body{
overflow-x: hidden;
}
.logo img{
  height: 60px;
  width: 150px;
}
.navbar-nav li{
   font-size: 1.3rem;
} 
.dropdown-menu li{
  text-align:center;
  cursor: pointer;
  color: chocolate;
}
#point{
  color:firebrick;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}
#point:hover{
  color: #4a00f7;
}

/* -------------------------------- */
#hero-vid video{
  object-fit: cover;
  height: 90vh;
  width: auto;
}
.vid-name{
  top: 0;
  background-color: #21252970;
}
.vid-name h1{
  text-align:right;
  font-size: 8rem;
}
/* @media screen and (max-width:769px){
  #hero-vid video{
    width: auto;
    height: 100%;
  }
} */
/* --------------------------------------- */
#Food-Items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    grid-gap: 50px;
    max-width: 1240px;
    padding: 20px;
}
.food-item{
   padding: 10px;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
   width: 100%;
}
.food-item img{
    height: 50vh;
    width: 100%;
    display: block;
}
.food-item p{
    text-align: center;
    font-size: larger;
    line-height: 3px;
    margin: 10px;
    line-height: 15px;
    font-family: cursive;
}
.food-item:hover{
    transform: scale(1.03);
}
@media screen and (max-width:769px){
  .food-item{
    width: 80%;
  }
}
/* ------------------footer-------------- */
footer{
  background-color:rgb(74, 70, 70);
  text-align: center;
}
footer h6{
  color: white;
  padding: 10px;
}

/* About */
.about_hero{
  background: url(./Images/about-bg.jpg) no-repeat center;
  background-size: cover;
  height: 60vh;
}
.about_hero_inner h1{
  font-size: 3.2rem;
}
/* About */
/* Contact */
.contact_hero{
  background: url(./Images/contact-bg.jpg) no-repeat center;
  background-size: cover;
  height: 60vh;
}
/* Contact */
